ul {
  list-style: none;
  margin: 20px 20% 0;
}

.container {
  display: flex;
  justify-content: center;
}

.form-control:focus {
  box-shadow: none
}

a {
  text-decoration: none;
  color: #000000;
}

h {
  margin-top: 10px
}

.checkbox {
  margin-left: 10px
}

.checkbox:hover {
  cursor: pointer;
}

.checkbox__Container {
  display: flex;
  align-items: center
}